/* Fonts */

@font-face {
  font-family: CorsicaSX;
  src: url(Delicious-Roman.eot);
  src: local("CorsicaSX"),
    url("../fonts/CorsicaSX-Regular.otf") format("opentype");
}

body {
  color: #333;
  font-family: CorsicaSX, sans-serif;
  font-size: 18px;
}

/* Typography */

h1,
h2,
h3,
h4 {
  font-family: "Alegreya", serif;
}

h1 {
  color: rgb(37, 64, 143);
  font-size: 35px;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  font-size: 18px;
}

.small-header {
  color: rgb(37, 64, 143);
  font-size: 24px;
}

.lead-text {
  font-size: 24px;
}

.hero .subheader {
  font-family: "Alegreya", serif;
  font-size: 42px;
}

.hero .header {
  font-family: "Alegreya", serif;
  font-size: 72px;
  font-weight: bold;
}

.white-text,
.white-text:hover,
.white-text:visited {
  color: white;
}

.post {
  border-top: 1px solid #888;
  padding-top: 8px;
}

.post .post-title {
  font-family: "Alegreya", serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.post .post-image {
  height: 250px;
  margin: 1em 0 0 0;
  overflow: hidden;
}

.post .post-image img {
  width: 100%;
}

.hero-small {
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-small img {
  width: 270px;
}

.admin-bar .hero-small img {
  width: 302px;
}

.flex-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  align-items: stretch;
}

.flex-columns-simple {
  display: flex;
  flex-direction: row;
}

.col {
  width: 32%;
}

.col-4 {
  width: 24%;
}

.has-text-centered {
  text-align: center;
}

/* Majolika Storefront Overrides */

.storefront-primary-navigation {
  background-color: #083F88;
}

.storefront-breadcrumb {
  margin: 0;
}

.site-header {
  background: #fff url('../media/masthead.jpg') no-repeat top center;
}

.nav-menu .menu-item>a,
.site-header-cart li .cart-contents {
  color: white !important;
}

.sub-menu .menu-item>a {
  color: black !important;
}

.nav-menu .current-menu-item>a {
  color: #e8e8e8 !important;
}

.site-footer {
  background: whitesmoke;
}

.site-footer-small {
  padding: 1.5em 0 1.5em;
}

.site-footer-logo {
  display: block;
  margin: auto;
}

.social-icon {
  display: inline-block;
  width: 30px;
}

/* Hide post metadata */
.entry-meta {
  display: none;
}

.entry-content {
  width: 100% !important;
}

/* Zoom in effect for product category */
.product-category img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-category:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Style font in product categories list */
.widget_product_categories .product-categories .cat-item a,
.widget-area .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

/* Mobile */
@media screen and (max-width: 450px) {
  .flex-columns-simple {
    flex-direction: column;
  }

  .col,
  .col-4 {
    width: 100%;
  }

  .storefront-primary-navigation {
    background-color: #fff;
    margin-top: -30px;
    box-shadow: 1px 1px whitesmoke;
  }

  .custom-logo-link {
    padding: 0.5em;
  }

  .site-header {
    background: #fff;
  }

  .site-branding,
  .hero-small {
    display: none;
  }

  .site-footer {
    background: whitesmoke;
  }

  .site-footer-logo {
    display: none;
  }
}

/** Parent Theme Overwrites */
.nav-menu .sub-menu .current-menu-item>a {
  color: #757575 !important;
}

/** Google Map */
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/* space fix */
.storefront-full-width-content .woocommerce-products-header {
  text-align: center;
  padding: 0 0 1em;
}

/* title position with left nav fix */

.widget_product_categories ul li::before {
  content: "\f105";
}

.widget_nav_menu ul li::before {
  content: "\f101";
}

/* Headers margin */
h1,
h2,
h3,
h4,
h5,
p+h2,
p+h1,
p+h3,
p+h4,
p+h5 {
  margin: 0.5em 0;
}

/* Site branding width fix */
.site-branding {
  width: auto !important;
}
